.container-fluid
  .row
    .col-xs-offset-4.col-xs-4
      = form_tag auth_path, html: {class: 'form-horizontal', role: 'form'} do
        .form-group
          = label_tag :email, nil, class: 'control-label'
          = text_field_tag :email, nil, class: 'form-control'

        .form-group
          = label_tag :password, nil, class: 'control-label'
          = password_field_tag :password, nil, class: 'form-control'

        .form-group
          = submit_tag "Login"

      = link_to 'Visit as Guest', guest_enter_path, method: :post, class: 'btn btn-success btn-lg guest-button'
