%table.table{style: 'width: 90%; margin: auto; margin-top: 5px;'}
  %tbody
    %tr
      %td
        = link_to 'sidekiq', '/sidekiq/workers', target: "_blank"
        = select_tag 'model', options_for_select(MOD_DESC, 'Hour')
      %td= text_field_tag :begin, @end.to_date - 9.day, class: 'form-control', placeholder: @begin.to_date
      %td= text_field_tag :end, @end.to_date, class: 'form-control', placeholder: @end.to_date
      %td
        %button#go.btn.btn-success Go
        = link_to trades_path do
          %button.btn.btn-link Trades
        #status{style: 'color: red;'}
#series{style: 'margin-left: 50px;'}
  %label.checkbox-inline
    = check_box_tag 'volume', 'show', false
    volume
  %label.checkbox-inline
    = check_box_tag 'currency', 'show', true
    bitcoin
= select_tag 'indicator_id', options_from_collection_for_select(Indicator.all, :id, :name), style: 'margin: auto; margin-top: 5px; margin-left: 50px;'
#signals{style: 'margin-left: 50px;'}
#description{style: 'margin-left: 50px; margin-top: 5px; display: none;'}
#ichimoku_control{style: 'margin-left: 50px; display: none;'}
  %label.checkbox-inline
    = check_box_tag 'tenkan_sen', 'show', true
    tenkan
  %label.checkbox-inline
    = check_box_tag 'kijun_sen', 'show', true
    kijun
  %label.checkbox-inline
    = check_box_tag 'chinkou_span', 'show', true
    chinkou
  %label.checkbox-inline
    = check_box_tag 'senkou_span_a', 'show', true
    senkou_a
  %label.checkbox-inline
    = check_box_tag 'senkou_span_b', 'show', true
    senkou_b

#details
#chart{style: 'margin-left: 20px; height: 592px;'}

:javascript
  $(document).ready(function(){
    initIndex()
  })
