.container-fluid
  .row
    .col-xs-12
      %table#trade.table
        %tbody
          %tr
            %th Description
            %th Begin
            %th End
            %th Profit rate
            %th Actions
          %tr
            %td#trade_description
            %td#begin
            %td#end
            %td#profit_rate
            %td
              = link_to 'Analyze', analyze_trade_path(@trade_id)
              #status{style: 'color: red;'}
  .row
    = render partial: 'shared/indicator_select', locals: {default: Indicator.first.id}
    = render partial: 'shared/series_select', locals: {bitcoin: true, volume: true}
    #signals.col-xs-7
  .row
    .col-xs-12#description.active{style: 'margin-top: 5px;'}
  .row
    = render partial: 'shared/ichimoku_control'
  .row
    #action{style: 'margin-right: 50px; float: right'}
      = link_to do_trade_trade_path(@trade_id, act: 'wait'), id: 'wait' do
        %button.btn.btn-primary.btn-sm Wait
      = link_to do_trade_trade_path(@trade_id, act: 'buy'), id: 'buy', style: 'display: none;' do
        %button.btn.btn-success.btn-sm Buy
      = link_to do_trade_trade_path(@trade_id, act: 'sell'), id: 'sell', style: 'display: none;' do
        %button.btn.btn-danger.btn-sm Sell
    #chart{style: 'height: 592px;', data: {id: @trade_id}}

:javascript
  $(document).ready(function(){
    initContinue()
  })
